@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body {
    background: #f2f2f2;
    font-family: 'Black Han Sans', sans-serif;
}

.header {
    margin: 10px auto;
}
.container {
    margin: 5%;
}

.header {
    text-align: center;
}

.can-form {
    margin: 10px auto;
}
