@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body {
    background: #f2f2f2;
    font-family: 'Black Han Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

.header {
    margin: 15px auto;
}

.container {
    margin: 5%;
}

.header {
    text-align: center;
}

.can-form {
    margin: 10px auto;
}

#register {
    text-align: center;
    margin: 10px auto;
}

.can-img {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.can-card {
    max-width: 200px;
}
