{% include 'head.html' %}
<body class="bg-light">
    <nav class="navbar navbar-light bg-light">
        <i class="fas fa-vote-yea"></i>
        {% if register %}
            <a href="/candidate/register"><button type="button" class="btn btn-dark">후보자 등록 기간입니다!</button></a>
        {% endif %}
        <a class="navbar-brand" href="/">{{ vote_title }}</a>
    </nav>
    <div class="container">
        <div class="card-deck can-list">
            {% for candidate in candidates %}
                <div class="card">
                    <img class="card-img-top can-img" src="{{ url_for('static', filename='./candidate_img/%s' % candidate[4]) }}" alt="Candidate Image">
                    <div class="card-body bg-light">
                        <h5 class="card-title">{{ candidate[1] }}</h5>
                        <p class="card-text">{{ candidate[3] }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ candidate[2] }} 후보</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>