{% include 'head.html' %}
<body>
    <nav class="navbar navbar-light bg-light">
        <i class="fas fa-vote-yea"></i>
        <a class="navbar-brand" href="/">{{ vote_title }}</a>
    </nav>
    <div class="container">
        <form method="POST" action="/candidate/register" enctype="multipart/form-data">
            {% for type in type_list %}
                <input type="radio" name="part" id="{{ type }}" value="{{ type }}"  required>
                <label for="{{ type }}">{{ type }}</label>
            {% endfor %}
            <div class="input-group can-form">
                <div class="input-group-prepend">
                    <span class="input-group-text">이름</span>
                </div>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="input-group can-form">
                <div class="input-group-prepend">
                    <span class="input-group-text">한줄 소개</span>
                </div>
                <input type="text" name="phrase" class="form-control" required>
            </div>
            <div class="input-group can-form">
                <div class="input-group-prepend">
                    <span class="input-group-text">후보자 확인 코드</span>
                </div>
                <input type="text" name="key" class="form-control" required>
            </div>
            <div class="input-group can-form">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image" name="image" required>
                    <label class="custom-file-label" for="image" aria-describedby="image">사진</label>
                </div>
            </div>    
            <input type="submit" value="지원" class="btn btn-secondary">
        </form>
    </div>
</body>

</html>